h1, h2, h3, h4, h5, h6
    line-height 1.5
    margin-bottom 1rem

p:not(:last-child)
    margin-bottom 1rem

ul
    margin-bottom 1rem

.content:not(.custom) > h1, .content:not(.custom) > h2, .content:not(.custom) > h3, .content:not(.custom) > h4, .content:not(.custom) > h5, .content:not(.custom) > h6
    margin-bottom 1rem

.custom-block .custom-block-title
    font-weight 600
    line-height 3

.custom-block.warning,
.custom-block.tip,
.custom-block.danger
    padding-bottom 1rem
